.gallery {
  margin: 5rem auto;
}

/* grid */
.gallery__grid {
  @extend .justify-content-center, .align-items-center;
  @include make-container();
  @include make-row();
  width: 85%;
  margin: 5rem auto;
  padding: 0;
  gap: 2vw;
}
/* upper cards 
  move card number 2 5 8 ... upper
  */
@include laptop {
  .gallery__card:nth-child(3n-1) {
    top: -2rem;
  }
}

/* card */
.gallery__card {
  @include make-col(12);
  @include tablet {
    @include make-col(5);
  }
  @include laptop {
    @include make-col(3);
  }
  @extend .d-flex, .flex-column, .justify-content-center;

  position: relative;
  z-index: inherit;

  padding: 1rem;
  margin: 1.5rem 0;

  @include simpleTransition;

  box-shadow: 5px 5px 13px #e6e6e6, -5px -5px 13px rgba(59, 59, 59, 0.021);
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 2rem 0.5rem 0.5rem 0.5rem;

  @include laptop {
    margin: 1rem 0;
  }
  &:hover,
  &:focus {
    box-shadow: 9px 9px 18px #dedede, -9px -9px 18px #ffffff00;
  }
  &__upper {
    @extend .d-flex, .flex-row, .justify-content-start;
    img {
      max-width: 25%;
      margin: 0 0 0 1rem;
    }
    h3 {
      color: #602d88;
    }
  }
  &__body {
    color: #1a1a1a;
  }
  /* card backdrop */
  &::before {
    @include pseudo;
    inset: -0.9rem 0.5rem 0 0;
    z-index: -5;

    border-radius: 3rem 0.5rem;

    background: rgb(202, 78, 151);
    background: $primary-gradient-row;
  }
  /* button */
  &__action {
    position: absolute;
    inset: auto auto -1rem 1rem;

    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;

    @extend .d-flex, .justify-content-center, .align-items-center;

    font-size: 1.25rem;
    background-color: $accent-color;

    border: 5px solid hsl(0, 0%, 95%);
    &:hover,
    &:focus {
      background-color: $accent-color;
      transform: none;
      box-shadow: none;
      @include h-w(41px);
    }
    i {
      color: #ffffff;
      position: relative;
      top: 2px;
    }
  }
}

/* ____________________
  carousel */
.gallery__carousel {
  position: relative;
  width: 85%;
  height: 80vh;
  margin: 8rem auto 0 auto;
  overflow: hidden;
  @media (min-width: 550px) {
    height: 90vh;
  }
  @media (min-width: 700px) {
    height: 120vh;
  }
  @media (min-width: 768px) {
    height: 40vh;
  }

  &__cn {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 2vw;

    transition: transform 0.4s cubic-bezier(0.48, 0.46, 0.55, 1.08);
  }

  &__item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(5%);
    width: 100%;
  }

  &__card {
    @include make-row();
    gap: 0;

    border-radius: 0.75rem;
    background-color: #f5f4fa;

    padding: 0 1rem;
    margin: 0 1rem;
    @include tablet {
      gap: 1rem;
    }
    /* grid child element */
    &__img__cn {
      @include make-col(2);
    }
    &__body {
      @include make-col();
    }
    @include tablet {
      &__img__cn {
        grid-row: auto;
      }
      &__body {
        grid-row: auto;
        grid-column: 2/6;
      }
    }

    &__img {
      @include m0p0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 90vw;
      @include mobile {
        max-width: 100%;
      }
      &__cn {
        @include grid-center;
      }
    }
  }
  /* ____________________
    left right Buttons */
  &__controller {
    position: absolute;
    display: inline-block;
    right: 3%;
    @include top-center;
    @include h-w(40px);
    z-index: 990;

    @include grid-center;

    background-color: $secondary-color;
    &:hover,
    &:focus {
      transform: translateY(-50%);
    }
    i {
      color: #ffffff;
      font-size: 1.2rem;
    }
    &--left {
      right: auto;
      left: 3%;
    }
  }
}
