.intro {
  width: 90%;
  margin-block: 5rem;
  padding: 0 10% 0.5rem 0;

  position: relative;
  z-index: inherit;

  background-color: #e0dcf6;
  border-radius: 5vw 0 0 0;

  // ____________________
  // svg
  svg {
    position: absolute;
    height: fit-content;
    inset: auto 0 0 0;

    transform: translateY(99%);

    background-color: #e0dcf6;
  }
  @include tablet {
    width: 80%;
  }
}

// ____________________
// header
.intro__header {
  @extend .d-flex,.justify-content-end,.flex-row-reverse;

  margin: 0.75rem 0 2rem 0;
}

.intro__dots {
  @extend .d-flex,.flex-row,.justify-content-center,.align-items-center;

  margin: 0 0.5rem;
}

.intro__dot {
  @include h-w(5px);
  margin-inline: 0.15rem;

  border-radius: 2rem;
  @include dotsColor;
}

// ____________________
// carousel
$intro_card_width: 15rem;

.intro__carousel {
  margin: 0 auto 0 1rem;
  height: 25rem;
  overflow: hidden;
  @include tablet {
    margin: 0 auto 0 4rem;
  }
}

.intro__carousel__cn {
  width: auto;
  position: relative;
  height: 100%;

  transition: transform 0.4s cubic-bezier(0.73, 0.25, 0.68, 1.35);
  padding: 6rem 0 4rem 0;
  @include mobile {
    width: calc(1 * (20rem));
  }
  @include tablet {
    width: calc(2 * (20rem));
  }
  @include laptop {
    width: calc(3 * (20rem));
  }
}

// ____________________
// card
.intro__carousel__item {
  position: absolute;
  @include simpleTransition;

  &--current {
    transform: scale(1.1);
  }
}

.intro__card {
  width: $intro_card_width;
  height: 10rem;
  position: relative;

  overflow: visible;

  z-index: 2;

  padding: 3rem 1.5rem 0.5rem 1.5rem;
  margin: 0 1rem;

  @include grid-center;

  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0.25rem 0.25rem 0.25rem;

  cursor: pointer;

  @include simpleTransition;

  &:hover {
    transform: translateY(-1rem);
  }
  &:hover .intro__card__img__cn {
    outline: 2px solid #e0dcf6;
    transform: translate(50%, -45%) scale(1.03);
  }
  // ____________________
  // pink shape
  &::before {
    @include pseudo;
    inset: -0.5rem 0 -0.5rem 60%;

    border: 0.5rem solid rgb(202, 78, 151);
    border-left: none;
    border-right: none;
    border-radius: 0.5rem;
  }
  // ____________________
  // shadow
  &::after {
    @include pseudo;
    inset: 0 0 0 0;
    z-index: -1;

    @include simpleTransition;
    border-radius: 2rem 0.25rem 0.25rem 0.25rem;
    box-shadow: 6px 6px 10px #c1bdd4, -6px -6px 10px #c1bdd4;
  }
}

// ____________________
.intro__card__img__cn {
  position: absolute;
  inset: 0 50% auto auto;

  transform: translate(50%, -50%);

  @include h-w(110px);

  border-radius: 100%;
  border: 3.5px solid #602d88;
  outline: 5px solid #e0dcf6;
  outline-offset: 0;
  transition: all 0.2s ease-in;

  overflow: hidden;

  @include grid-center;
}
.intro__card__img {
  object-fit: cover;
  max-width: 150%;
}

// ____________________
.intro__card__text {
  @extend .d-flex,.flex-column,.justify-content-center, .align-items-center;

  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.intro__card__title {
  display: block;
  width: 90%;
  margin: 1rem 0 0 0;
  padding: 0 0 1rem 0;

  color: #602d88;
  border-bottom: 2px solid #d0bede;
}

.intro__carousel__indicator {
  position: absolute;
  top: 60%;
  z-index: 98;

  @include h-w(40px);
  @include grid-center;

  background-color: $primary-color;

  &--right {
    right: 8%;
  }
  &--left {
    left: 8%;
  }

  &:hover {
    box-shadow: none;
  }

  i {
    color: $secondary-color;
  }
}
