.section-exam { // section
  max-width: 100vw
}
.exam { // div
  @include make-row();
  @include laptop {
    margin: 5rem auto 0 auto;
  }
  @extend .justify-content-between;
  width: 85%;
  @include m0p0;
  margin: 2rem auto 0 auto !important;
}

// card ____________________
.exam__card {
  @include make-col(10);
  width: 100%;

  @include tablet {
    @include make-col(5);
    width: 45%;
  }
  margin: 1.5rem 0;
  position: relative;
  z-index: inherit;

  border-radius: 1.5rem 0.5rem 0.5rem 0.5rem;
  background-color: hsl(0, 0%, 99%);

  /* content */
  @extend .d-flex, .flex-column, .justify-content-between;
  @include laptop {
    margin: 0;
  }
  &::before {
    @include pseudo;
    inset: -0.75rem 0.5rem -0.75rem 60%;
    z-index: -1;

    border-radius: 0.5rem;
    background: rgb(202, 78, 151);
    background: $primary-gradient-35;
  }

  &__shadow { // card shadow 
    position: absolute;
    inset: 0 0 0 0;
    z-index: -2;
    box-shadow: 8px 8px 20px #ebebeb, -8px -8px 20px #ffffff;
  }
}

// card content ____________________
.exam__header {
  background-color: #372784;
  border-radius: 1.5rem 0.5rem 0 0;
}

.exam__title { // h4
  margin: 1rem;
  color: #ffffff;
}

.exam__content { // image and text
  padding: 1.25rem 1rem;

  color: #6c6c6c;
}

.exam__img__cn {
  margin: 0 0 0 1rem;
  @include grid-center;
  width: 100%;
  img {
    @include imgRes;
  }
}

.exam__text { // div > p
  padding: 0 1rem;
  line-height: 1.5rem;
  font-size: 1.05rem;
}

.exam__action__cn { // div > button
  padding: 0 0 1rem 1rem;
}

.exam__action { // <a> </a>
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  background-color: $accent-color;
  i {
    width: 32px;
    height: 30px;
    margin: 0 0.5rem 0 0;
    padding: 0.15rem 0 0 0;

    @extend .d-flex, .justify-content-center, .align-items-center;

    border-radius: 2rem;
    background-color: $accent-color;
    color: #ffffff;
  }
}
