/**
*
*	Name:			IRANSansX Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Apr 22, 2021
*	Updated on:		Apr 22, 2021
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونتایران سنس Xا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSansX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
    font-family: 'iransansxv';
    src: url('../fonts/webfont/IRANSansXV.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
    url('../fonts/webfont/IRANSansXV.woff') format('woff');
    /* for the other supporting browsers */
    font-weight: 100 900;
    font-display: fallback;

}

@font-face {
    font-family: iransansx;
    src: url('../fonts/webfont/staticfonts/IRANSansX-Regular.woff') format('woff');
}
@font-face {
    font-family: iransansx;
    src: url('../fonts/webfont/staticfonts/IRANSansX-Bold.woff') format('woff');
    font-weight: 700;
}

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 100;
// 	src: url('../fonts/woff/IRANSansX-thin.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-thin.woff2') format('woff2');		
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 200;
// 	src: url('../fonts/woff/IRANSansX-UltraLight.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');	
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url('../fonts/woff/IRANSansX-light.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-light.woff2') format('woff2');		 
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 500;
// 	src: url('../fonts/woff/IRANSansX-medium.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-medium.woff2') format('woff2');		 
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 600;
// 	src: url('../fonts/woff/IRANSansX-demibold.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-demibold.woff2') format('woff2');	 
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('../fonts/woff/IRANSansX-extrabold.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-extrabold.woff2') format('woff2');		 
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: 900;
// 	src: url('../fonts/woff/IRANSansX-black.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-black.woff2') format('woff2');		 
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: bold;
// 	src: url('../fonts/woff/IRANSansX-bold.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-bold.woff2') format('woff2');	 
// }

// @font-face {
// 	font-family: IRANSansX;
// 	font-style: normal;
// 	font-weight: normal;
// 	src: url('../fonts/woff/IRANSansX-regular.woff') format('woff'),   
// 	url('../fonts/woff2/IRANSansX-regular.woff2') format('woff2');	
// }

// ________________________________________________________________________________
// ________________________________________________________________________________

.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.ss03 {
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.ltr {
	direction: ltr;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-small {
	font-size: 0.8em;
}
.text-xsmall {
	font-size: 0.6em;
}
.text-large {
	font-size: 1.2em;
}
.text-xlarge {
	font-size: 1.4em;
}
.text-underline {
	text-decoration:underline;
}

.text-thin {
	font-weight: 100;
}
.text-UltraLight {
	font-weight: 200;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-demibold {
	font-weight: 600;
}
.text-bold {
	font-weight: bold;
}

.text-extrabold {
	font-weight: 800;
}
.text-black {
	font-weight: 900;
}

blockquote {
	font-weight: 700;
	padding: 10px;
	border: 1px dashed #666666;
}

.mainbox {
	width: 100%;
	background-color: #EFEFEF;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #df79ff;
}

.mainboxnegativ {
	width: 100%;
	background-color: #000000;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #df79ff;
	color: #F9F9F9;
}

.mainbox2 {
	font-size: 1em;
	width: 90%;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mainboxitalic {
	font-size: 1em;
	font-style: italic;
	width: 90%;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainbox3 {
	width: 100%;
	background-color: #DFDFDF;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FF5EAA;
}

.mainbox2negativ {
	font-size: 1em;
	color: #F9F9F9;
	background-color: #000000;
	padding-right: 20px;
}


.farsiparagraph {
	font-size: 1em;
	width: 47%;
	float:right;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.farsiparagraph_negativ {
	font-size: 1em;
	color: #F9F9F9;
	background-color: #000000;
	width: 47%;
	float:right;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}


.englishparagraph {
	font-size: 1em;
	width: 47%;
	float: left;
	direction:ltr;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}

.englishparagraph_negativ {
	font-size: 1em;
	color: #F9F9F9;
	background-color: #000000;
	width: 47%;
	float: left;
	direction:ltr;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}
.rightbox {
	width: 60%;
	padding-right: 20px;
	padding-left: 5px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: #F7F7F7;

}

.titelbox {
	width: 60%;
	padding-right: 25px;
	padding-left: 0px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: #d5d5d5;
	color: #4B4B4B;
}


.lefttbox {
	
	padding-right: 20px;
	padding-left: 4px;
	float: right;
	margin-bottom: 10px;
	min-width: 0px;
}

.alphabet {
	width: 35%;
	float: left;
	font-size: 20em;
	text-align: center;
	font-weight: 700;
	color: #999999;
}

.alphabet2 {
	width: 35%;
	float: left;
	direction: ltr;
	font-size: 1.6em;
	text-align: left;
	font-weight: 600;
	color: #333333;
	margin-top: 100px;
}
.footer {
	font-weight: 400;
	font-size: 0.7em;
	text-align: center;
	direction: ltr;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

