.footer {
  padding: 1rem 10vw;
  margin: 10rem 0 0 0;

  background-color: #2a1c34;
  color: #ffffff;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  & a,
  & i {
    color: #ffffff;
  }

  svg {
    position: absolute;
    height: fit-content;
    inset: 0 0 0 0;
    transform: translateY(-95%);
    width: 100%;
  }
}

// content ____________________
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;

  @include tablet {
    @include make-row();
    flex-direction: row-reverse;
    margin: 0 auto !important;
  }
}

.footer__section {
  // each container in footer
  @include tablet {
    @include make-col(5);
  }
  @include laptop {
    @include make-col(3);
  }
  height: fit-content;
  &--logo {
    // div including logo img
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .footer__logo {
      // <img>
      max-width: 100%;
    }

    .footer__info {
      // mail and phone below img
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;

      i {
        margin: 0 0.5rem;
        padding: 0.5rem;

        @include h-w(20px);

        @include grid-center;

        border-radius: 3rem;
        background-color: $primary-color;

        &::before {
          transform: translateY(2px);
        }
      }

      &--phone{
        span{
          @extend .ss02;
          @extend .ss03;
        }
      }
    }
  }

  &__header {
    // container title / (V) drop down controller

    margin: 1rem 0 1rem auto;

    position: relative;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &::after {
      // pink line ____
      @include pseudo;
      inset: 40% 40% auto auto;

      width: 58%;

      border: 1px solid $primary-color;

      @include tablet {
        inset: 52% 30% auto auto;
      }
    }
    @include laptop {
      &::after {
        width: 25%;
      }
    }

    h6 {
      // title
      font-size: 1rem;
      text-align: right;
      margin: 0 !important;
    }
  }

  &__toggle-btn {
    // toggle button
    background-color: $secondary-color;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem;
    position: relative;
    z-index: 3;
    @include h-w(30px);
    
    @include grid-center;
    display: inline-grid;

    &:hover {
      box-shadow: none;
    }
    @include tablet {
      display: none;
    }
  }

  .footer__link {
    // ul
    margin: 0;
    padding: 0 0 0 1rem;
    overflow: hidden;
    text-align: right;

    &__item {
      list-style: none;
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: #d0bede;
      }

      &::after {
        // dot color
        content: "\2022";
        color: $secondary-color;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
      }
    }
  }

  .footer__link,
  &--form__cn {
    transition: max-height 0.3s ease-out;
  }

  &--form__cn {
    // div
    overflow: hidden;
  }

  &--form {
    // span / info text
    span {
      color: #d0bede;
    }
  }

  .footer__input {
    position: relative;
    width: 85%;
    &__email {
      z-index: inherit;

      width: 100%;
      margin: 0.5rem 0;
      padding: 0.5rem 0.5rem;

      background-color: #21142b;
      border: 1.5px solid $primary-color;
      border-radius: 1rem;

      &:focus {
        outline: none;
        border: 2px solid #7739a7;
      }
    }

    i {
      position: absolute;
      z-index: 2;
      inset: 50% auto auto 1vw;
      transform: translateY(-50%);

      @include h-w(20px);
      padding: 0.25rem;

      @include grid-center;

      background-color: $primary-color;
      border-radius: 100%;

      &::before {
        transform: translate(0, 10%);
      }
    }

    &__security {
      z-index: inherit;

      width: 100%;
      margin: 0.5rem 0;
      padding: 0.5rem 0.5rem;

      background-color: #21142b;
      border: 1.5px solid $primary-color;
      border-radius: 1rem;

      &:focus {
        outline: none;
        border: 2px solid #7739a7;
      }
    }
  }

  &__button {
    background-color: #ef9226;
    color: #ffffff;
    border: none;

    margin: 1rem 0;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;

    display: flex;
    flex-direction: row-reverse;

    i {
      margin-right: 1rem;

      @include h-w(30px);

      @include grid-center;

      background-color: #de7117;
      border-radius: 2rem;

      &::before {
        transform: translateY(2px);
      }
    }

    &:hover {
      box-shadow: 5px 5px 10px #22172b, -5px -5px 10px #32213d;
    }
  }

  &--symbol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    img {
      max-width: 47%;
      border-radius: 0.5rem;
    }
  }
}
