header {
  padding: 0 0.25rem;
  margin-inline: 0 !important;
  max-width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mobile {
    padding: 1rem 4vw;
  }
  @include tablet {
    @include make-row();
  }
}

// sticky heder ________________________________________________________________________________
header.sticky-header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 99999;
  padding-block: 0;
  border-radius: 0 !important;

  // background
  @include glass;

  .header__content {
    .header__actions {
      display: none !important;
    }

    .header__nav {
      @include glass;
      @include tablet {
        @include clear-glass;
      }
      ul.header__list {
        width: 85%;
        margin: 0 auto;
        @include tablet {
          margin: 0.75rem 0 0.5rem 0;
        }
      }
    }
  }
  // ____________________
  .header__logo__cn {
    min-width: none;
    display: none;

    img.header__logo {
      transform: scale(0.9);
    }
  }
}

/* logo hamburger */
.header__hamburger {
  position: fixed;
  inset: 1rem 1rem auto auto;
  @include grid-center;
  padding: 0.5rem;
  z-index: 999;
  border: 0;
  @include tablet {
    display: none;
  }
  i {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    transform: translateY(2px);
  }
}

.header__logo__cn {
  min-width: 15vw;
  height: 100%;
  overflow: hidden;
  @include tablet {
    @include make-col(2);
  }
  .header__logo {
    max-height: 100%;
    object-fit: cover;
    transform: scale(1.2);
  }
}

/* content */
.header__content {
  @include make-col(9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  div.header__actions,
  nav.header__nav {
    width: 100% !important;
  }
}

.header__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__template {
    display: flex;
  }
}

/* buttons  */
.header__btn--sign-up {
  background: $primary-gradient-row !important;
  @include mobile {
    min-width: 5rem;
  }
  i {
    transform: translateY(4px) translateX(-3px);
    margin-left: 0.5rem;
    color: #ffffff;
    font-size: 1.5rem;

    @include mobile {
      transform: translateY(4px) translateX(0);
      font-size: 1.75rem;
    }
  }
  &--text {
    display: none;
    color: rgb(255, 255, 255);
    @include mobile {
      display: inline-block;
    }
  }
}

.header__btn--log-in {
  background: #ffffff;
  color: #363636;
  i {
    transform: translateY(4px) translateX(-3px);
    margin-left: 0.5rem;
    color: $secondary-color;
    font-size: 1.5rem;

    @include mobile {
      transform: translateY(4px) translateX(0);
      font-size: 1.75rem;
    }
  }
  &--text {
    display: none;
    @include mobile {
      display: inline-block;
    }
  }
}

.header__search__cn {
  display: none;
  position: relative;
  margin: 0 0.5rem 0 0;
  @include tablet {
    display: block;
  }

  .header__search-input {
    padding: 0.5rem;
    border: 0;
    border-radius: 1rem;
    border: solid 1px #ffffff;
    &:focus {
      outline: none;
      border: solid 2px #602d88;
    }
  }
  button {
    @include absolute-center;
    left: 0;

    padding: 0.5rem 0.5rem 0.1rem 0.5rem;

    font-size: 1.1rem;

    border-radius: 1rem;

    color: #ffffff;
    background: $primary-gradient-row;
    &:hover {
      box-shadow: none;
    }
  }
  i {
    color: #ffffff;
  }
}

.header__btn--cart {
  position: relative;
  i {
    color: $primary-color;
    font-size: 1.25rem;
    transform: translateY(2px);
    @include mobile {
      margin-right: 0.5rem;
    }
  }
  &--text {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
.header__badge--cart {
  @extend .ss02;

  padding: 0.2rem;
  border-radius: 1rem;

  position: absolute;
  top: -6px;
  left: -3px;

  @include grid-center;

  @include h-w(10px);

  font-size: 0.75rem;

  color: #ffffff;
  background-color: $accent-color;
}

// language select
.header__lan{
  position: relative;
}
.header__btn--lan {
  display: block;
  position: relative;
  width: 30px !important;
  border-radius: 2rem;
  overflow: hidden;

  padding: 0;
}
.header__flag-img {
  max-width: 100%;
  margin: 0;

  position: relative;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  object-fit: cover;
}

// options
.header__lan__options{ // ul
  position: absolute;
  inset: 0 100% auto auto;
  @include simpleTransition;

  .header__lan__item{
    transform: scale(0.8);
  }
}
// nav ____________________
.header__nav {
  display: inline-block;
  position: fixed;
  inset: 0 0 0 20%;
  top: 0;
  bottom: 0;

  height: 100vh;
  width: auto;
  overflow-y: scroll;
  z-index: 99;

  background-color: #ffffff;
  transform: translateX(120%);
  @include simpleTransition;

  @include tablet {
    position: relative;
    inset: 0 0 auto 0;
    height: auto;
    overflow-y: visible;
    transform: none;

    z-index: 2;

    margin: 0.5rem 0 0.75rem 0;
  }
}

.overlay-shadow {
  position: fixed;
  @include h-w(100);
  inset: 0 0 0 0;
  background-color: rgba(73, 7, 40, 0.2);
  z-index: 99;
  display: none;
}

.header__nav__logo {
  display: block;
  margin: 1rem auto;
  @include tablet {
    display: none;
  }
}

.header__search__cn--mobile {
  display: block;
  width: 70%;
  margin: 1rem auto;
  @include tablet {
    display: none;
  }
}
.header__search-input--mobile {
  width: 100%;
  padding: 0.75rem 0.25rem 0.75rem 0;
  border: solid 0.5px #cdcdcd;
  border-radius: 1rem;
  &:focus {
    outline: none;
    border: solid 0.5px $primary-color;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  position: relative;
  z-index: 99;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-top: 1rem;
  }
  &__item {
    position: relative;

    @include listIns;
    padding: 0.5rem 0;
    margin: 0 auto;
    width: 75%;

    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
    color: #ffffff;

    @include tablet {
      font-size: 1rem;
      @include m0p0;
      width: auto;
      color: #1a1a1a;
      background: none;
    }
    &__title {
      position: relative;
      width: 100%;
      border-radius: 0.25rem;
      background-color: $primary-color;
      padding: 0.5rem 0;
      z-index: 2;

      @include tablet {
        background: transparent;
        padding: 0;
      }
    }
    a {
      color: #ffffff;
      @include tablet {
        color: #1a1a1a;
      }
    }
    i {
      color: $primary-color;
      font-size: 1.2rem;
      transition: all 0.3s ease;
    }

    /* upper Icons */
    & div a > i,
    & div > i {
      display: none;
      font-size: 1.5rem;
      @include tablet {
        display: block;
      }
    }
    &:hover > i,
    & a > i:hover {
      color: #aa8bc3;
    }
  }
  &__link {
    text-decoration: none;
    color: #363636;
  }
}

/* ____________________
    Dropdown ⬇
   */

.header__list__dropdown-content {
  transform-origin: top;

  width: 99%;
  height: fit-content;
  overflow: hidden;

  margin: 0 auto;

  transition: all 0.3s ease-in;
  color: #363636;
  background-color: #ffffff;

  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 8px 8px 16px #d9d9d9;

  /* content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0;

  text-align: start;
  @include tablet {
    position: absolute;
    top: 105%;
    right: -1.75rem;
    left: -10rem;

    overflow-x: hidden;
    width: auto;

    border-radius: 0.5rem;
    color: #ffffff;
    box-shadow: none;
    background-color: $primary-color;
  }
  &::after {
    @include pseudo;
    bottom: 100%;
    right: 25%;
    /* creates triangle 🔺 */
    @extend .d-none, .d-md-block;
    display: none;
    @include h-w(0);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $primary-color;
  }
  &__item {
    list-style: none;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-bottom: solid 1px #ffffff;
    @include simpleTransition;
    @include tablet {
      border-bottom: solid 1px #572b79;
    }
    /* hover effect */
    &:hover,
    &:focus {
      background-color: #ffffff;
    }
    /* bullet of the list */
    &::before {
      content: "\2022";
      display: inline-block;
      width: 1rem;
      color: $secondary-color;
    }
    a {
      text-decoration: none;
      color: #2b2b2b;
      @include simpleTransition;
      font-size: 1.1rem;

      @include tablet {
        text-decoration: none;
        color: #ffffff;
      }
    }
    /* hover effect */
    &:hover a,
    &:focus a {
      color: $primary-color;
    }
  }
}

/* second dropdown */
.header__list__item--teacher-into:hover > ul {
  display: flex;
}
