.hero {
  height: 50vh;
  position: relative;
  overflow: hidden;

  @include mobile {
    height: 75vh;
  }
  @include tablet {
    height: 90vh;
  }
  @include tv {
    height: 75vh;
  }
}

/* ____________________
  Slider
   */

.hero__slider {
  @include w100h100;
  position: relative;

  &__cn {
    position: relative;
    @include w100h100;
    @include m0p0;

    transition: transform 0.8s cubic-bezier(0.23, 0.65, 0.67, 1.25);
  }
}

.hero__slider__item {
  position: absolute;
  @include w100h100;

  @include listIns;
  overflow: hidden;

  @include grid-center;

  img {
    @include imgFit;
    position: relative;
  }
}

// indicators
.hero__slider__nav {
  position: absolute;
  inset: auto 50% 10% auto;
  transform: translateX(50%) rotate(180deg);
}

.hero__slider__indicator {
  display: inline;
  padding: 5px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  margin-inline: 3px;

  &--current {
    border: 8px solid white;
    padding: 3px;
    background-color: $primary-color;
    margin-inline: 3.5px;
  }

  &:hover {
    box-shadow: none;
  }
}

/* ____________________
   SVG*/

.hero__slider {
  svg {
    display: none;

    position: absolute;
    inset: auto 0 0 0;
    width: 100%;
    height: fit-content;

    transform: scaleY(1.2) translateY(-100%);

    @include m0p0;
  }
  @include tablet {
    & > svg {
      display: block;
      transform: scaleY(1.3) translateY(-5%);
    }
  }
  @include laptop {
    & > svg {
      transform: scaleY(1.2) translateY(-10%);
    }
  }
  @media (min-width: 1000px) {
    & > svg {
      transform: scaleY(1.3) translateY(10%);
    }
  }
}

/* ____________________
  social links*/

.hero__social {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include laptop {
    position: fixed;
    top: 40%;
  }

  &__link {
    padding: 0.5rem;
    margin: 0.25rem 0;
    transform: translateX(66%);

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    @include simpleTransition;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #ffffff;
    
    a {
      color: #ffffff;
    }
  }
}

.hero__social__link:hover {
  transform: translateX(0);
}

.hero__social__link i {
  margin: 0 0.5rem 0 0.25rem;
  position: relative;
  top: 3px;
  font-size: 1.5rem;
  color: #ffffff;
}

.hero__social__link--instagrem {
  background: rgb(90, 0, 225);
  background: $instagram-gradient;
}
.hero__social__link--telegram {
  background: rgb(66, 203, 255);
  background: $telegram-gradient;
}
.hero__social__link--whatsapp {
  background: rgb(1, 196, 0);
  background: $whatsapp-gradient;
}
.hero__social__link--aparat {
  background: rgb(237, 20, 91);
  background: $aparat-gradient;
}
.hero__social__link--twitter {
  background: rgb(0, 213, 255);
  background: $twitter-gradient;
}

/* ____________________
  Hero side cards*/
.hero__side {
  position: fixed;

  /* position */
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  z-index: 9;

  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include tablet{
    display: flex;
  }
}

.hero__card {
  position: relative;
  width: 25vw;
  margin: 0.5rem 0;

  background-color: rgb(255, 255, 255);
  @include simpleTransition;

  left: -100%;

  &:hover {
    transform: translateX(100%);
  }

  &__content {
    padding: 0.5rem 1rem;
  }

  /* out button */
  &__toggler {
    position: absolute;
    top: 50%;
    right: -4.5rem;

    width: 5.5rem;
    height: 3rem;

    padding: 0.75rem;

    font-size: 1.15rem;
    color: #ffffff;

    border-radius: 0 0 0.5rem 0.5rem;
    border: 0;

    @include grid-center;

    transform: translateY(-50%) rotate(-90deg);

    @include simpleTransition;

    &:hover,
    &:focus {
      box-shadow: none;
      transform: translateY(-50%) rotate(-90deg);
      width: 5.75rem;
    }
  }
}

.hero__card__toggler--products {
  background-color: $primary-color;
}
.hero__card__toggler--consulting {
  background-color: $secondary-color;
}
.hero__card__toggler--calender {
  background-color: $accent-color;
}

/* inner button */
.hero__card__action {
  padding: 0.25rem 0.75rem;
  font-size: 1.05rem;

  border-radius: 0.25rem;
  border: 0;

  color: #ffffff;

  &--products {
    background-color: $primary-color;
  }
  &--consulting {
    background-color: $primary-color;
  }
  &--calender {
    background-color: $accent-color;
  }
}
