.news {
  min-height: 60vh;

  position: relative;
  z-index: inherit;

  margin: 5rem 0;
  padding: 8rem 0 2rem 0;
  overflow: hidden;

  border-radius: 0 0 5vw 5vw;

  background-image: url("../assets/classroom.png");
  @include fixedBg;

  &::before {
    @include pseudo;
    inset: 0 0 0 0;
    z-index: 0;
    background-color: $primary-color;

    opacity: 0.8;
  }

  * {
    position: relative;
    z-index: 2;
  }

  svg {
    height: fit-content;
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
  }
}

//____________________
// grid
.news__content {
  width: 90%;

  min-height: 30rem;

  @include make-row();
  gap: 2vw;
  @include tablet {
    width: 75%;
  }
  margin: 0 auto !important;
}

.news__carousel {
  @include make-col(12);
  @include tablet {
    @include make-col(5);
  }
  @include laptop {
    @include make-col(7);
  }
  position: relative;

  overflow: hidden;
  height: inherit;

  padding: 0 0.5rem;
}

.news__list {
  height: 30rem;
  @include make-col(12);
  @include tablet {
    @include make-col(5);
  }
  @include laptop {
    @include make-col(4);
  }
}

// ____________________
.news__header {
  color: rgb(255, 255, 255);
}

.news__carousel__cn {
  width: auto;
  position: relative;
  height: 30rem;

  transition: transform 0.45s cubic-bezier(0.73, 0.25, 0.68, 1.35);
}

.news__carousel__item {
  position: absolute;
  height: 30rem;
  padding: 0 1rem;
  width: 95%;
  @include mobile {
    width: 45%;
  }
  @include tablet {
    width: 90%;
  }
  @include laptop {
    width: 45%;
  }
  @include tv {
    width: 30%;
  }
}

.news__carousel__card {
  @extend .d-flex, .flex-column, .justify-content-between;

  height: auto;
  min-width: 100%;
  padding: 0.75rem;

  margin: 0 auto;

  background-color: #fff;
  border-radius: 0.75rem;

  cursor: pointer;
  @include simpleTransition;

  &:hover {
    transform: translateY(-3px);
  }

  //   image filter
  &:hover > .news__carousel__card__img__cn::after {
    opacity: 1;
  }

  //   text color
  &:hover .news__carousel__card__title {
    color: $primary-color;
  }
}

.news__carousel__card__img__cn {
  width: 100%;
  margin: 0 auto;

  @include grid-center;

  max-height: 50%;

  position: relative;
  z-index: inherit;

  //   effect
  &::after {
    @include pseudo;
    inset: 0 0 0 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(54, 39, 132, 0.45);
    opacity: 0;
    border-radius: 0.5rem;

    @include simpleTransition;
  }
}
.news__carousel__card__img {
  @include imgRes;
  border-radius: 0.5rem;
}

.news__carousel__card__title {
  font-size: 1rem;
  @include simpleTransition;
}
.news__carousel__card__body {
  font-size: 0.75rem;
  color: #797979;
}
.news__carousel__card__date {
  padding: 0.75rem 0 0 0;
  border-top: 2px solid #efefef;

  font-size: 0.8rem;
  color: $primary-color;

  i {
    color: $primary-color;
    font-size: 1rem;
  }
}

.news__carousel__ind {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 35px;
  height: 35px;

  display: grid;
  place-content: center;

  border-radius: 2rem;
  border: none;
  background-color: #ca4e97;

  i {
    color: #ffffff;
    font-size: 1.2rem;
  }

  &:hover {
    box-shadow: none;
    transform: translateY(-50%) scale(1.05);
  }

  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}

// ____________________
.news__header {
  margin: 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.news__title {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.news__dots {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-inline: 0.5rem;
}

.news__dot {
  width: 5px;
  height: 5px;

  border-radius: 2rem;

  margin: 0 0.25rem;

  &:nth-child(1) {
    background-color: #372784;
  }
  &:nth-child(2) {
    background-color: #9557c6;
  }
  &:nth-child(3) {
    background-color: #ca4e97;
  }
}

.news__list__cn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

// text
.news__list__card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 6rem;

  background-color: #ffffff;
  margin: 0.5rem 0;
  padding: 0.5rem;

  border-radius: 0.5rem;
  cursor: pointer;
}

.news__list__card__img__cn {
  width: 33%;
  height: 100%;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.news__ist__card__img {
  @include imgRes;
  border-radius: 0.5rem;
}

.news__list__card__text {
  padding: 0 0.75rem 0 0;
}

.news__list__card__title {
  @include m0p0;
}

.news__list__card__info {
  font-size: 0.8rem;
  padding: 0.5rem 0 0 0;
  margin-top: 0.25rem;

  border-top: 2px solid #efefef;
  color: $primary-color;
}
