.slogan {
  height: fit-content;

  position: relative;
  z-index: -1;

  padding: 3rem 2vw 0 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include make-row();
  margin-inline: 0 !important;

  background-image: url("../assets/slogan__bg.png");
  @include fixedBg;

  border-radius: 4rem 0 0 0;

  @include laptop {
  flex-direction: row;
    padding-top: 0;
  }

  &::before {
    @include pseudo;
    inset: 0 0 0 0;

    z-index: -1;

    background: linear-gradient(
      35deg,
      rgba(96, 45, 136, 0.9) 0%,
      rgba(55, 39, 132, 0.6) 100%
    );
    border-radius: 4rem 0 0 0;
  }

  /* ____________________
    Img */
  &__img__cn {
    @include make-col(11);
    @include laptop {
      @include make-col(5);
    }
    @include grid-center;
    height: fit-content;
  }
  &__img {
    position: relative;
    max-width: 100%;
    height: auto;
    @include laptop{
      transform: scale(1.1) translateY(-10%);
    }
  }
  /* ____________________
    text */
  &__text {
    @include make-col(11);
    @include laptop{
      @include make-col(5);
    }
    color: #ffffff;
    font-size: 1.2rem;
  }

  &__light {
    color: #d0bede;
    font-size: 1rem;
  }

  &__title {
    margin: 0 0 5vw 0;
  }
  /* svg */
  & svg {
    position: absolute;
    width: 100%;
    height: fit-content;
    inset: auto 0 0 0;
  }
}
